<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CriticalMinBoxes" value="3"/>
    <add key="MaxBoxesSameSize" value="10"/>
    <add key="CriticalMinBoxes" value="3"/>
    <add key="UnusingBoxMaxTime" value="0:2:0"/>
    <add key="CheckingUnusedBox" value="0:1:0"/>

  </appSettings>

</configuration>